<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link th:href="@{css/home_style.css}" rel="stylesheet"/>
    <script src="webjars/jquery/3.0.0/jquery.min.js"/>
    <script th:src="@{js/home_app.js}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>댓글 시스템</title>
</head>
<body>
<h1 class="text-center">댓글 시스템</h1>
<div class="container">
    <p id="userId" th:text="${userId}"></p>
    <div class="user-data-div">
    </div>

    <div class="btn-group">
        <a th:if="${userId}" href="/modification" class="btn btn-lg btn-default">프로필 수정</a>
        <a th:unless="${userId}" href="/registration" class="btn btn-lg btn-default">회원 가입</a>
        <a href="/write" class="btn btn-lg btn-default">글쓰기</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-2">아이디</th>
            <th class="col-lg-3">글</th>
            <th class="col-lg-3">추천</th>
            <th class="col-lg-2">시간</th>
        </tr>
        </thead>
        <tbody class="body-articles">
        </tbody>
    </table>
    <div class="pagination-div text-center">
        <ul class="pagination"></ul>
    </div>
</div>
</body>
</html>